<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      gsap.registerPlugin(ScrollTrigger);

      gsap.from("#animateMe", {
        opacity: 0,
        y: 50,
        duration: 1,
        scrollTrigger: {
          trigger: "#animateMe",
          start: "top 80%",
          end: "top 60%",
          toggleActions: "play none none none"
        }
      });
    });
  </script>

  <title>Document</title>
</head>

<body>
  <section class="showcase">
    <header>

      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <br><br><br>
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MOVEMENT SCIENCE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <video src="explore.mp4" muted loop autoplay></video>

    <div class="text"> <br><br><br><br><br>
      <h3>PERSONALIZED THERAPY <br>
        ALL PAINS TREATED, EVERY PATIENT VALUED.</h3>
      <p>"From back pain to sports injuries, our expert physiotherapists provide tailored treatments to
        get you back to your best. Experience compassionate care and innovative therapies designed to fit your busy
        schedule and budget."</p>
      <a href="/checkslot">Book Appointment</a>
    </div>
    <br><br><br>
  </section>

  <style>
   @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body
{
    background-color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);

}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent white text */
  transition: all 0.3s ease-in-out;
  /* Smooth transition */
}

.navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  /* Fully opaque white text on hover */
}

.nav-item {

  margin-left: 100px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 900;
}


.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #081923;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text {
  position: relative;
  z-index: 10;
}

.text h3 {
  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h4 {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 2px;
}

@media (max-width: 991px) {

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h3 {
    font-size: 27px;
  }

  .text h4 {
    top: 10px;
    margin-top: 10px;
    font-size: 17px;
  }

  .logo {
    font-size: 17px;
  }

  .text p {
    font-size: 10px;
    color: #fff;
    margin-top: 8px;
    font-weight: 400;
    max-width: 700px;
  }

  .text {
    margin-top: 4e0px;
    top: 10px;
    position: relative;
    z-index: 10;
  }

  .showcase {
    min-height: 90vh;
  }
}
  </style>

  <!-- how we help -->
  <div class="howwehelp">
    <div class="text1">
      <h2>HOW WE HELP</h2>
    </div>
    <div id="animateMe" class="animate-me">
      <br><br><br><br><br>
      <div class="ag-format-container">
          <div class="ag-courses_box">
            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Recovery after hostpital
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    04.11.2022
                  </span>
                </div>
              </a>
            </div>

            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Joint and Muscular pain
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    04.11.2022
                  </span>
                </div>
              </a>
            </div>

            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Falls and Accidents
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    04.11.2022
                  </span>
                </div>
              </a>
            </div>

            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Balance and Cordination
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    04.11.2022
                  </span>
                </div>
              </a>
            </div>

            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Muscle Weakness
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    30.11.2022
                  </span>
                </div>
              </a>
            </div>
            <div class="ag-courses_item">
              <a href="#" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                  Physiyo therphy for swallon joints
                </div>

                <div class="ag-courses-item_date-box">
                  Start:
                  <span class="ag-courses-item_date">
                    30.11.2022
                  </span>
                </div>
              </a>
            </div>


        </div>
      </div>
    </div>
    <br><br><br>
  </div>
  <div class="morebtn">
    <button class="btnn">LEARN MORE</button>
  </div>

  <!-- LETS TALK -->

<div class="letstalk">
  <div class="text4">
    LETS TALK
    <br><br><br><br><br>
  </div>
</div>

  <style>
.text4{
  font-size: 4vh;
  font-weight: 700;
  text-align: center;
}

    .text1 h2 {
      font-size: 5em;
      font-weight: 800;
      color: #000000;
      text-transform: uppercase;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .howwehelp {
      width: 100%;
      position: relative;

    }
.morebtn{
  position: absolute;
  margin-top:-9.3vw;
  z-index: 1 ;
  width: 100%;

  backdrop-filter: blur(0) saturate(180%);
    -webkit-backdrop-filter: blur(0) saturate(180%);
    background: 
        linear-gradient(rgba(245, 247, 250, 0),rgba(0, 57, 53, 0.6)); 
}

.btnn{
  position: relative;
  background-color: #081923;
  color: rgb(255, 255, 255);
  width: 130px;
  height: 50px;
  background-blend-mode: screen;
  margin-left:calc(65vw - 130px);
}

@media (min-width: 979px) {
      .morebtn{
        display: none;
      }
    }

.letstalk{
padding: 0;
  margin-top:12px;
  background-color: rgba(0, 57, 53, 0.6);
}

    .ag-format-container {
      position: relative;
      width: 90%;
      max-width: 1142px;
      margin: 0 auto;
     
   
    }
    .ag-courses_box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 0;
      z-index: -1;

    }

    .ag-courses_item {
      flex-basis: calc(33.33333% - 30px);
      margin: 0 15px 10px;
      overflow: hidden;
      border-radius: 28px;
      display: block;
      
      /* Ensure items are displayed by default */
    }

    .ag-courses-item_link {
      display: block;
      padding: 30px 20px;
      background-color: #121212;
      position: relative;
      
    }

    .ag-courses-item_bg {
      height: 128px;
      width: 128px;
      position: absolute;
      top: -75px;
      right: -75px;
      border-radius: 50%;
      transition: all 0.5s ease;
    }

    .ag-courses-item_title {
      min-height: 87px;
      margin: 0 0 25px;
      font-weight: bold;
      font-size: 30px;
      color: #FFF;
      position: relative;
    }

    .ag-courses-item_date-box {
      font-size: 18px;
      color: #FFF;
      position: relative;
    }

    .ag-courses-item_date {
      font-weight: bold;
      color: #f9b234;
      transition: color 0.5s ease;
    }

    /* Hide additional items in desktop view */
    @media (min-width: 980px) {
      .ag-courses_item:nth-child(n+) {
        display: none;
      }
    }

    /* Hide additional items in mobile view */
    @media (max-width: 979px) {
      .ag-courses_item:nth-child(n+4) {
        display: none;
      }

      .ag-courses_item {
        flex-basis: calc(50% - 30px);
      }
    }

    @media (max-width: 767px) {
      .ag-format-container {
        width: 96%;
      }
    }

    @media (max-width: 639px) {
      .ag-courses_item {
        flex-basis: 100%;
      }

      .ag-courses-item_title {
        min-height: 72px;
        font-size: 24px;
      }

      .ag-courses-item_link {
        padding: 22px 40px;
      }

      .ag-courses-item_date-box {
        font-size: 16px;
      }
    }

    @media (max-width: 991px) {

      .text1 h2 {
        font-size: 3vh;
        margin-left: 35px;
        left: 40%;
      }
      .text4 h2{
        font-size: 3vh;
        margin-left: 35px;
        left: 40%;
      }
    }
  </style>



</body>