<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <!-- cdn tailwing -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->

</head>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="your-logo-url.png" alt="Logo"> <!-- Replace with your logo URL -->
    </a>
    <div class="free-consultation">
      <a href="/checkslot" class="nav-link">Free Consultation</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/howhelp/index">How we help <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/conditions">Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About-us</a>
        </li>
      </ul>
    </div>
     </nav>
  <script>
    $(document).ready(function() {
    $('.navbar-toggler').click(function() {
      $('#navbarNav').collapse('toggle');
    });
  });
  </script>
  <div class="content">
    <div class="heading">
      <div class="text">Building Up Your Confidence</div>
      <!-- <div class="ctc">
        <a href="/checkslot"><button class="ctcbtn1" id="myButton">Book Appointment
        </button></a>
        <a href="/checkslot"><button class="ctcbtn2">
            <svg width="3vw" height="3vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button></a>
      </div> -->
    </div>
  </div>
  <img src="/images/mcenter.jpg" alt="RECOVERY image" class="responsive-img">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <button class="sidebar-toggle">☰</button>

    <div class="intro">
      <h2>Building Up Your Confidence</h2>
      <p>Building confidence is essential for personal growth and success in various aspects of life. Whether overcoming challenges, pursuing goals, or improving relationships, confidence plays a crucial role in our journey.</p>
    </div>
    
    <div class="sidebar-container">
      <div class="sidebar-wrapper">
        <div class="sidebar">
          <div class="reading-progress-container">
            <div class="reading-progress-bar"></div>
          </div>
        </div>
        <div class="author-box">
          <img src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Author's Gravatar" class="author-gravatar">
          <div class="author-info">
            <span class="author-title">Author</span>
            <span class="author-name">Akshay</span>
          </div>
          <span id="dark-mode-toggle" class="material-symbols-outlined light-icon">
            lightbulb_circle
          </span>
        </div>
      </div>
      <div class="post-content">
        <h3 class="header-one">Understanding Confidence</h3>
        <p>Confidence is the belief in oneself and one's abilities. It involves trusting your judgment, feeling capable of handling challenges, and being resilient in the face of setbacks.</p>
    
        <h3>Building Blocks of Confidence</h3>
        <p>Building confidence involves several key components:</p>
        <ul>
          <li><strong>Self-awareness:</strong> Understanding your strengths, weaknesses, and values.</li>
          <li><strong>Setting goals:</strong> Establishing clear, achievable objectives to work towards.</li>
          <li><strong>Positive self-talk:</strong> Cultivating a supportive inner dialogue that reinforces your capabilities.</li>
          <li><strong>Continuous learning:</strong> Acquiring knowledge and skills that contribute to your competence.</li>
          <li><strong>Seeking support:</strong> Surrounding yourself with encouraging people who believe in your potential.</li>
        </ul>
    
        <h3>Practical Tips to Boost Confidence</h3>
        <p>Here are some actionable strategies to enhance your confidence:</p>
        <ul>
          <li>Practice gratitude and celebrate small victories.</li>
          <li>Step out of your comfort zone regularly to expand your capabilities.</li>
          <li>Visualize success and envision yourself achieving your goals.</li>
          <li>Take care of your physical and mental well-being through exercise, proper nutrition, and relaxation techniques.</li>
          <li>Learn from setbacks and use them as opportunities for growth.</li>
        </ul>
      </div>
    </div>
    
    <div class="outro">
      <p>Confidence is not about being perfect or fearless but about believing in yourself and your ability to navigate challenges. By cultivating confidence, you can unlock your full potential and achieve greater fulfillment in life.</p>
      <p>Remember, building confidence is a journey that requires patience, practice, and perseverance. Embrace your strengths, learn from your experiences, and continue to grow into the confident person you aspire to be.</p>
    </div>
    
  <footer class="footer-area footer--light">
    <div class="footer-big">
      <!-- start .container -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="footer-widget">
              <div class="widget-about">
                <img src="http://placehold.it/250x80" alt="" class="img-fluid">
                <p>location map here</p>
                <ul class="contact-details">
                  <li>
                    <span class="icon-earphones"></span> Call Us:
                    <a href="tel:344-755-111">3-1-111</a>
                  </li>
                  <li>
                    <span class="icon-envelope-open"></span>
                    <a href="mailto:support@aazztech.com">support@.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-4 -->
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu footer-menu--1">
                <h4 class="footer-widget-title">Popular Category</h4>
                <ul>
                  <li>
                    <a href="/admin/login">Admin login</a>
                  </li>
                  <li>
                    <a href="#">Plugins</a>
                  </li>
                  <li>
                    <a href="#">Joomla Template</a>
                  </li>
                  <li>
                    <a href="#">Admin Template</a>
                  </li>
                  <li>
                    <a href="#">HTML Template</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-md-3 -->
  
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">Our Company</h4>
                <ul>
                  <li>
                    <a href="#">About Us</a>
                  </li>
                  <li>
                    <a href="#">How It Works</a>
                  </li>
                  <li>
                    <a href="#">Affiliates</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">Plan &amp; Pricing</a>
                  </li>
                  <li>
                    <a href="#">Blog</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- end /.col-lg-3 -->
  
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title">Help Support</h4>
                <ul>
                  <li>
                    <a href="#">Support Forum</a>
                  </li>
                  <li>
                    <a href="#">Terms &amp; Conditions</a>
                  </li>
                  <li>
                    <a href="#">Support Policy</a>
                  </li>
                  <li>
                    <a href="#">Refund Policy</a>
                  </li>
                  <li>
                    <a href="#">FAQs</a>
                  </li>
                  <li>
                    <a href="#">Buyers Faq</a>
                  </li>
                  <li>
                    <a href="#">Sellers Faq</a>
                  </li>
                </ul>
              </div>
              <!-- end /.footer-menu -->
            </div>
            <!-- Ends: .footer-widget -->
          </div>
          <!-- Ends: .col-lg-3 -->
  
        </div>
        <!-- end /.row -->
      </div>
      <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->
  
    <div class="mini-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>© 2024
                <a href="#">Movemnet science</a>. All rights reserved. Created by
                <a href="#">crem.create</a>
              </p>
            </div>
  
            <div class="go_top">
              <span class="icon-arrow-up"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggle = document.getElementById("dark-mode-toggle");
    toggle.addEventListener("click", function() {
      document.body.classList.toggle("dark-mode");
    });

    function throttle(func, limit) {
      let lastFunc;
      let lastRan;
      return function() {
        const context = this;
        const args = arguments;
        if (!lastRan) {
          func.apply(context, args);
          lastRan = Date.now();
        } else {
          clearTimeout(lastFunc);
          lastFunc = setTimeout(function() {
            if (Date.now() - lastRan >= limit) {
              func.apply(context, args);
              lastRan = Date.now();
            }
          }, limit - (Date.now() - lastRan));
        }
      };
    }

    const sidebarToggle = document.querySelector(".sidebar-toggle");
    sidebarToggle.addEventListener("click", function() {
      document.body.classList.toggle("sidebar-visible");
    });

    const sidebar = document.querySelector(".sidebar");
    const readingProgressContainer = document.querySelector(
      ".reading-progress-container"
    );
    const headers = document.querySelectorAll(".post-content :is(h1, h2, h3)");

    headers.forEach((header, index) => {
      const headerId = header.id || `header${index + 1}`;
      header.id = headerId;
      header.setAttribute("tabindex", "0");

      const link = document.createElement("a");
      link.href = `#${headerId}`;
      link.textContent = header.textContent;
      link.className = "sidebar-link";
      link.dataset.headerId = headerId;

      sidebar.insertBefore(link, readingProgressContainer);
    });

    const sidebarLinks = document.querySelectorAll(".sidebar-link");
    sidebarLinks.forEach((link) => {
      link.addEventListener("click", function(event) {
        event.preventDefault();

        const targetId = this.getAttribute("href").substring(1);
        const targetHeader = document.getElementById(targetId);

        if (targetHeader) {
          const headerOffset =
            targetHeader.getBoundingClientRect().top +
            window.pageYOffset -
            window.innerHeight / 2 +
            targetHeader.offsetHeight / 2;
          window.scrollTo({
            top: headerOffset,
            behavior: "smooth"
          });
        }
      });
    });

    function handleScroll() {
      const headers = document.querySelectorAll(".post-content :is(h1, h2, h3)");
      let lastPassedHeaderId = null;

      headers.forEach((header) => {
        if (header.getBoundingClientRect().top < window.innerHeight / 2) {
          lastPassedHeaderId = header.id;
        }
      });

      const sidebarLinks = document.querySelectorAll(".sidebar-link");
      sidebarLinks.forEach((link) => {
        if (lastPassedHeaderId === link.dataset.headerId) {
          link.classList.add("active");
        } else {
          link.classList.remove("active");
        }
      });

      const firstHeader = document.querySelector(
        ".post-content :is(h1, h2, h3):first-of-type"
      );
      const content = document.querySelector(".post-content");
      const paragraphs = content.querySelectorAll("p");
      const lastParagraph = paragraphs[paragraphs.length - 1];

      const startOffset =
        firstHeader.getBoundingClientRect().top +
        window.pageYOffset -
        window.innerHeight / 2;
      const endOffset =
        lastParagraph.getBoundingClientRect().bottom +
        window.pageYOffset -
        window.innerHeight / 2;

      const scrollTop = window.pageYOffset;
      const scrollRange = endOffset - startOffset;
      const scrollPosition = scrollTop - startOffset;

      let progress = scrollPosition / scrollRange;
      progress = Math.max(0, Math.min(1, progress));

      document.querySelector(".reading-progress-bar").style.width =
        progress * 100 + "%";
    }

    document.addEventListener("scroll", throttle(handleScroll, 25));
  });
</script>

</div>


</html>