<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabbed Content</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    .container {
      margin-top: 50px;
    }
    .tab-content {
      display: none;
    }
    .tab-content.active {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping of items */
      justify-content: space-between; /* Distribute space between items */
    }
    .tab-buttons {
      display: flex;
      margin-bottom: 20px;
    }
    .tab-buttons button {
      padding: 10px 20px;
      border: none;
      background-color: #f1f1f1;
      cursor: pointer;
      margin-right: 10px; /* Add space between buttons */
    }
    .tab-buttons button.active {
      background-color: #007BFF;
      color: white;
    }
    .content-box {
      background-color: #007BFF;
      color: white;
      padding: 10px;
      display: flex;
      margin-bottom: 10px;
      border-radius: 5px;
      width: 10%; /* Control the width of each box */
      min-width: 150px; /* Ensure boxes are not too small */
      box-sizing: border-box; /* Ensure padding is included in width */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="tab-buttons">
      <button class="tab-btn active" data-tab="all">All</button>
      <button class="tab-btn" data-tab="tab1">Tab 1</button>
      <button class="tab-btn" data-tab="tab2">Tab 2</button>
      <button class="tab-btn" data-tab="tab3">Tab 3</button>
    </div>
    <div id="all" class="tab-content active">
      <!-- All content will be populated by JavaScript -->
    </div>
    <div id="tab1" class="tab-content">
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
    </div>
    <div id="tab2" class="tab-content">
      <div class="content-box">Tab 2 Content 1</div>
      <div class="content-box">Tab 2 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
    </div>
    <div id="tab3" class="tab-content">
      <div class="content-box">Tab 3 Content 1</div>
      <div class="content-box">Tab 3 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
      <div class="content-box">Tab 1 Content 1</div>
      <div class="content-box">Tab 1 Content 2</div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Custom JavaScript -->
  <script>
    $(document).ready(function() {
      // Function to switch tabs
      function switchTab(tabId) {
        $('.tab-content').removeClass('active');
        $('#' + tabId).addClass('active');
        $('.tab-btn').removeClass('active');
        $('.tab-btn[data-tab="' + tabId + '"]').addClass('active');
      }

      // Event listener for tab buttons
      $('.tab-btn').click(function() {
        var tabId = $(this).data('tab');
        switchTab(tabId);
      });

      // Populate "All" tab with content from all other tabs
      function populateAllTab() {
        var allContent = '';
        $('.tab-content').not('#all').each(function() {
          allContent += $(this).html();
        });
        $('#all').html(allContent);
      }

      // Initial population of "All" tab
      populateAllTab();
    });
  </script>
</body>
</html>
