<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physiotherapy Services</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- hero section -->
    <div class="container">
        <div class="content">
            <div class="image">
                <img src="images/doc.png" alt="Doctor">
            </div>
            <div class="info">
                <p>200K+ Customer Served | 10+ Years Of Experience</p>
                <h1>We Provide All Kind Of <span class="highlight">Physiotherapy Services</span></h1>
                <div class="services">
                    <div class="service">Management</div>
                    <div class="service">Mobility</div>
                    <div class="service">Recovery</div>
                </div>
                <a href="#" class="btn">Book Consultation</a>
                <a href="#" class="btn2">arrow</a>
            </div>
        </div>
    </div>
    <!-- the how to do cards -->
     <div class="cardwrapper">
        <div class="card">
            <div class="main-text"> Recovery After Hostpital
            </div>
            <span class="card2ndtext">what ever here</span>
            <div class="buttonwrapper">
                <div class="arrowbutton"></div>
                <div class="callbutton"></div>
            </div>
        </div>

        <div class="card">
            <div class="main-text"> Recovery After Hostpital
            </div>
            <span class="card2ndtext">what ever here</span>
            <div class="buttonwrapper">
                <div class="arrowbutton"></div>
                <div class="callbutton"></div>
            </div>
        </div>

        <div class="card">
            <div class="main-text"> Recovery After Hostpital
            </div>
            <span class="card2ndtext">what ever here</span>
            <div class="buttonwrapper">
                <div class="arrowbutton"></div>
                <div class="callbutton"></div>
            </div>
        </div>

        <div class="card">
            <div class="main-text"> Recovery After Hostpital
            </div>
            <span class="card2ndtext">what ever here</span>
            <div class="buttonwrapper">
                <div class="arrowbutton"></div>
                <div class="callbutton"></div>
            </div>
        </div>
    
     </div>
    
</body>
</html>
