<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img src="your-logo-url.png" alt="Logo"> <!-- Replace with your logo URL -->
        </a>
        <div class="free-consultation">
          <a href="/checkslot" class="nav-link">Free Consultation</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/howhelp/index">How we help <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conditions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About-us</a>
            </li>
          </ul>
        </div>
      </nav>
      <script>
        $(document).ready(function() {
        $('.navbar-toggler').click(function() {
          $('#navbarNav').collapse('toggle');
        });
      });
      </script>
</body>
</html>