
.sectionstart{
    display: flex;
}
.imagetext{
    display: flex; /* Use flexbox for content layout */
    flex-direction: row; /* Arrange items horizontally */
    width: 100%; /* Full width of container */
}

@media (max-width: 800px) {

        .subhead, .header {
            flex: 100%;
          }
  }