* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info {
  margin-bottom: 20px;
  text-align: center;
}

.info p {
  text-align: center;
  font-size: 15px;
  color: #555;
}

.info h1 {
  font-size: 64px;
  margin: 10px 0;
  color: #333;
}

.highlight {
  color: #007bff;
}

.services {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.service {
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}
.btn2{
  display: inline-block;
  background-color: #001429;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}
.image img {
  max-width: 100%;
  height: auto;
}

.image{
  z-index: -100;
}

@media screen and (max-width: 780px) {
 .container{
  margin:auto;
 }

  .content {
      flex-direction: row;
      text-align: center;
      justify-content: center;
  }

  .info {
      margin: auto;
      font-size: 10px;
      z-index: 1000;
      /* margin-top: -10vw; */
  }
  .info h1{
    margin-right: 0px;
    font-size: 32px;
    text-align: center;
}
.info p{
  margin-right: 0px;
  font-size: 10px;
}

  .image {
    z-index: -1000;
    display: block;
    width: 100%;
    position: absolute;
    margin-left:-85%;
    z-index: 0;
    flex: 1;

  }
}
@media screen and (min-width: 780px) {
  .content {
      flex-direction: row;
      text-align: left;
  }

  .info {
      flex: 1;
      margin-right: -20px;
  }

  .image {
    flex: 1;
    position: relative;
    margin-top: -70px;
    height: 480px;
    width: 470px;
    margin-left: -240px;
  }
}
